h1{color:blue; text-align:center;}

h2{color:blue; text-align:center; }

h3{color:darkblue; text-align:center; }

h4{color:blue; text-align: under}

h5{color:darkblue; text-align:under;  font-size:20px; }

h6{color:darkblue; text-align:under; font-size:20px; }

p{color:darkblue; text-align:center; font-size:35px;}




#head {align-items: center}
